*{
	font-family: 'Roboto', sans-serif;
}
body {
	background: -webkit-linear-gradient(left, #aa1400 0%, #04cdff 100%);
	margin:0
	
}
h1 {
	text-align: center;
	color: rgb(241, 11, 11);
}
h4{
	font-size: 16px;
	font-weight: 700;
}
header{
	padding: 20px 0 0 0;
	background: #ffffff;
	text-align: center;
}
@media (min-width: 750px) {
	header {
		text-align: left;
	}
}

.borrar-product {
	background-color: #00bbbb;
	border-radius:50%;
	padding: 5px 10px;
	text-decoration: none;
	color: rgb(71, 71, 71);
	font-weight: bold; 
}
.retorno{
    z-index: 1;
    height: 60px;
    width: 60px;
    float: left;
    margin-left: 30px;
    margin-top: -540px;
    margin-right: -30px;
    list-style: none;
}
ul {
	list-style: none;
}

.hero {
	background-image: url("../../imagenes/carrito/pared1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 551px;
	
	background-attachment: fixed;
	
}
.encabezado{
	margin: 30px 0;
	color: #fff;
}
.submenu{
	position: relative;
}
.submenu #carrito{
	display: none;
}
.submenu:hover #carrito {
	display: block;
	color: #fff;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 1;
	background:#17181b;
	padding: 20px;
}
.vacio {
	padding: 10px;
	background-color: #0041aa;
	text-align: center;
	border-radius: 10px;
	color: rgb(255,255,255);
}
.button {
	background-color: #d43d17c9;
	color: rgb(255,255,255);
}
.contenido-hero{
	margin-top: 200px;
	margin-left: -120px;
	color: #fff;
}
.contenido-hero form {
	position: relative;
	margin-bottom: 0;
}
.contenido-hero form #buscador {
	height: 50px;
	margin-bottom: 0;
}
.contenido-hero form .submit-buscador {
	position: absolute;
	right: 10px;
	top: 0;
	height: 100%;
	padding: 0;
	display: block;
	text-indent: -9999px;
	width: 50px;
	background-image: url("../../imagenes/carrito/lupa.png");
	background-position: right center;
	background-repeat: no-repeat;
	border:none;
}

.barra {
	padding: 20px 0;
	background: -webkit-linear-gradient(left, #aa3000 0%, #f58013 100%);
}

.barra p {
	margin: 0;
	color: #fff;
}
.icono {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 60px;
	background-size: 30px;
	margin-bottom: 40px;
	text-align: center;
}

@media (min-width: 750px) {
	.icono {
		margin-bottom: 0;
	}
}

.icono1{
	background-image: url(../../imagenes/carrito/icono-1.png);
}
.icono2{
	background-image: url(../../imagenes/carrito/icono-2.png);
}
.icono3{
	background-image: url(../../imagenes/carrito/icono-3.png);
}

#lista-products .row {
	margin-bottom: 20px;
}
.agregar-carrito{
	margin:10px 0;
}
.card {
	text-align: center;
	border: 1px solid rgba(185, 42, 42, 0.05);
	background:#b95d06;
	
}

	

@media (min-width: 550px){
	.card {
		text-align: left;
	}
}
.info-card{
	padding: 10px 20px;
	color: #ffff;
	font-size: 20px;
	
}
.info-card img{
	background-color: #0041aa;
	
}
.info.card p,
.card h4 {
	margin-bottom: 5px;
	font-size: 25px;
}
.info-card .precio {
	text-decoration: line-through;
	font-size: 21px;
	margin-top: 10px;

}
.info-card .precio span {
	font-weight: 700;
	font-size: 27px;
}
.footer {
	margin-top: 40px;
	padding-top: 40px;
	background: #1d2124;
}
.footer .menu a {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
}
