/*se le esta agregando color y una transicion al apartado administrador*/
body{
    background-color: rgb(247, 242, 197);
    font-family: sans-serif;
    padding-top: 0px;
    transition: padding-top 0.5s ease;
}
/*Se le esta agregando una cabecera con un ancha del 100%*/
/*ENCABEZADO*/
header {
	width: 100%;

}
/*Se le esta agregando una posicion relativa con una anchor del 100%*/
.enbacezado{
	position: relative;
	width: 100%;

}
/*Se le esta agregando un color y una definicion mas detallada al encabezado*/
header nav {
	width:90%;
	max-width:1000px;
	margin:20px auto;
	background:#eb1515e7;
}
/*Al menu se le esta agregando un apartado de mostrar en ninguno*/
.menu_bar{
	display: none;
}
/*Se le esta agregando una posicion manual al logo de la empresa*/
.logo{
	margin-left: 30px;
	margin-top: 20px;
}
/*Se le esta agregando un tamaño a la imagen del logo*/
.logo img{
	width: 120px;
	height: 100px;
}
/**/
.menu_pc{
	float: right;
	margin-top: -105PX;
	position: absolute;
	margin-left: 300px;
}
.menu_pc .texto{
	text-align: center;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top: 10px;


}
header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
	transition: none;
}

header nav ul li i {
	margin-right:10px;
	height: -20px;
}

header nav ul li a:hover {
	background:#ff1919d5;
	height: 65px;
}

section {
	padding:20px;
}


@media screen and (max-width:800px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}
}
.ayuda{
	float: right;
	margin-left: 5px;
	margin-top: -80px;
	margin-right: 60px;
}
.ayuda a i{
	color: #f70f0fd5;
	border-color: red;
}
.texto_tituloo{
	color: red;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: 2%;
	height: 40px;
	margin-top: -5px;
	font-size: 18.5px;
}
/* INICIO mitad */
.mitad{
	z-index: 1;
    width: 1050px;
    height: 450px;
    padding: 20px 20px;
    font-size: 25px;
    line-height: 1.2;
    background: white;
    box-shadow: 1px 5px 25px
    rgb(0, 23, 126);
    border-radius: 5px;
    text-align: justify;
	margin-left: 18%;
	margin-top: 15px;
} 