footer{
    width: 100%;
    padding: 50px 0px;

    background-size: cover;
    
    background-color: #c50b0b;
    
    }

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 120px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #f8e9e9;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #3e7edf;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #ffffff;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #ddc1c1;
}